@import "../../style/vars.scss";

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    opacity: 0.6;
    border-radius: 50%;
    border: 6px solid $mainBlackColor;
    border-color: $mainBlackColor transparent $mainBlackColor transparent;
    animation: loader 1.7s linear infinite;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
