.form {
  max-width: 200px;
  display: flex;
  flex-direction: column;

  div:not(:last-child) {
    margin-bottom: 15px;
  }

  label {
    cursor: pointer;
  }

  &-school-checkbox {
    cursor: pointer;
  }

  &-module {
    margin-left: 20px;

    &--wrapper {
      display: flex;
      flex-direction: column;
    }

    &-checkbox {
      cursor: pointer;
    }
  }

  &-btn--wrapper {
    margin-top: 15px;
  }

  &-btn {
    padding: 0 15px;

    &:not(:last-child) {
      margin-left: 0;
    }
  }
}
