@import "../../../style/vars.scss";

.btn {
  text-decoration: none;
  padding: 6px 14px;
  margin-left: 15px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  background: inherit;
  color: $mainBlackColor;
  border: 1px solid $mainBlackColor;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    background: $mainBlackColor;
    color: $mainGreyColor;
  }
}
