@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap");
@import "./style/reset.scss";
@import "./style/vars.scss";

html {
  font-family: "Kanit", sans-serif;
  background: $mainGreyColor;
}

#root {
  width: 100wh;
  height: 100vh;
  color: $mainBlackColor;
  font-size: 25px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}
